html{
    background-color: #434446;
    font-family: Noto Sans, Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.link-image-size{
    max-height: 400px;
    max-width:400px;
    height:auto;
    padding: 50px;
    border: 50px;
    margin: 50px 0px 50px 0px;
}