html{
    background-color: #434446;
    font-family: Noto Sans, Arial, Helvetica, sans-serif;
    color: aliceblue;

}


.image-links{
    list-style-type:none;
}

img{
    min-width: 400px;
    max-width: 600px;
    height: 400px;
}
a:visited,a:link{
    color:white;
  }