html{
    background-color: #434446;
    font-family: Noto Sans, Arial, Helvetica, sans-serif;
    color: aliceblue;

}


.no-bulletpoints{
    list-style-type:lower-latin;
}

img{
    width; 400px;
    height: 400px;
}
a:visited,a:link{
    color:white;
  }